doctype html
html
    head
        title= pagetitle
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="/javascripts/menu.js")
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        h2 Hello World!

        block mainbody