body {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Segoe Script', 'Segoe Print';
    margin-bottom: 30px;
}

form {
    width: 75%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 15px;
}

img {
    margin-top: 35px;
    margin-bottom: 0px;
    width: 10%;
}

button {
    padding-bottom: 5px
}


.goal {
  display: inline-block
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;  
  background: lightsteelblue;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: inline-block;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.goal-name {
  text-align: right;
  display: inline-block;
  width: 250px;
  padding-right: 10px;
} 

#error-message {
  display: show;
}


/* Mobile */
@media only screen and (max-width: 768px) {
  .slider {width: 70%; margin-left: 10%;}
  .goal-name {text-align: center;}
  img {width: 40%;}
  
}