#profile {
    float: left;
    clear: both;
    margin: 0 -150px 0 0;
}

h1 {
    text-align: center;
    font-family: 'Segoe Script', 'Segoe Print';
}

.container {
    width: 75%;
    margin: auto;
    text-align: center;
}

#goals {
    font-size:25px;
    font-family: 'segoe script';
}

#myBtn {
    display: inline-block;
    
}

img {
    width: 10%;
}

.goal-name {
    text-align: right;
    display: inline-block;
    width: 250px;
    height: 35px;
    margin: auto;
    padding-right: 10px;
} 


 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.progress {
    display: inline-block;
    /* margin: -1%;
    margin-left: 5px;
    margin-right: 5px; */
    width: 70%;
    
}   
